/* ---- reset ---- */
body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
  overflow: hidden;
  padding-top: 15%;
}
canvas {
  display: block;
}
/* ---- particles.js container ---- */
#particles-js {
  background-color: #0d1117;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
